
@{
    ViewData["Title"] = "Home Page";
}

<h1>Los rastafa</h1>
<img src="LogoGrupo.png" alt="Logo grupo"/>
@foreach(KeyValuePair<int, Integrante> kvp in (Dictionary<int, Integrante>)ViewBag.Grupo)
{
    Integrante i = kvp.Value;
    <img src= "@i.GetFoto()" alt="@i.GetNombre()"/>
    var dni = i.GetDni();
    @Html.ActionLink(linkText: $"{i.GetNombre()}", actionName: "SelectIntegrante", controllerName: "Home", routeValues: new {dni = dni})
}
